.item .oSkuDropdownList.opened, #catalogElement .skuDropdownList.opened{
	max-height: 300px;
	overflow-y: scroll;	
}
.propExpander.expanded+.params ul {
    position: relative;
    overflow-y: auto;
    max-height: 500px;
        overflow-x: hidden;
}

#brandList .item {
	height: 140px !important;
}
#brandList .item .tabloid a:nth-child(2){
	display:block;
	height:30px;
	line-height:30px;	
	text-align:center;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
@media (min-width: 1101px){
	#catalogElement .mainTool .addCartContainer {
		width: 250px;
	}
	#leftMenu li .menuLink{
		font-size:16px;
	}
}
#catalogElement .fixContainer {
    width: 250px;
}
#catalogElement .mainTool .addCart{
	width: 100%;

}
#subHeader4 #logo {
    line-height: 30px;
	height: 65px;
}  
.logospan{
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'robotobold';
}
.sectionTopDescription{
	margin: 24px 0;
}
#subHeader7 #logo{
	text-align:center;
	    line-height: 45px;
}
.product{
	height: 520px !important;
}

.product .tabloid {
	height: 519px !important;
}
@media (max-width: 600px){
	.product{
		height: auto !important;
	}
	.product .tabloid {
		height: auto !important;
	}	
	.propContainer{
		height: auto !important;
	}
}
@media (min-width: 600px) and (max-width: 700px){
	.product{
		height: 340px !important;
	}
	.product .tabloid {
		height: 339px !important;
	}	
}
.product .tabloid:hover {
	height: auto !important;
}
.product .tabloid .prop {
	color: #aaa;
	font-size: .75rem;
	min-height: 5rem;
	display: flex;
	line-height: .75rem;
}
.product .tabloid .prop span{
	clear:both;
	display:block;
}
.product .tabloid .prop span:not(:last-child){
	margin-bottom:5px;
}
.product .tabloid .prop div{
	margin: auto 0;
}
.propContainer{
	font-size: 12px;
	height: 85px;
}
#footer{
	margin-bottom:0 !important;
}
.changePropertiesNoGroup{
	margin-top: 0;
}
#catalogReviewsContainer{
	padding: 0 24px;
}